html body{
    margin: 0px;
    padding: 0px;
    font-family: monospace;
}
h1{
    text-align: center;
    color: white;
}
a{
    text-decoration: none;
}
button{
    background-color: tomato;
    border-color: tomato;
}
#header{
    background-color: tomato;
    
    padding: 15px;
    text-decoration: none;
}
.content{
    margin: 10px;
    padding: 10px;
}
#footer{
    bottom: 0px;
}